<!DOCTYPE html>
<html>
  <head>
    <title>Guillaume 's Bowling Game</title>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="libs/jquery.min.js">\x3C/script>')</script>
    <script src="src/Game.js"></script>
    <script src="src/Interface.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Verdana">
<!--     Working on a Windows Laptop now because of a water damaged Macbook still in repair -->
    <link rel="stylesheet" type="text/css" href="../public/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/bowling.css">
  </head>

  <body>
    <div id='logo'></div>
    <div id="rollsSelection">
      Please enter your score: <br><br>
      <span id="lineOfButtons">
        <button id="hit0" class="rollButton" title="No pins knocked down">0</button>
        <button id="hit1" class="rollButton" title="1 pin knocked down">1</button>
        <button id="hit2" class="rollButton" title="2 pins knocked down">2</button>
        <button id="hit3" class="rollButton" title="3 pins knocked down">3</button>
        <button id="hit4" class="rollButton" title="4 pins knocked down">4</button>
        <button id="hit5" class="rollButton" title="5 pins knocked down">5</button>
        <button id="hit6" class="rollButton" title="6 pins knocked down">6</button>
        <button id="hit7" class="rollButton" title="7 pins knocked down">7</button>
        <button id="hit8" class="rollButton" title="8 pins knocked down">8</button>
        <button id="hit9" class="rollButton" title="9 pins knocked down">9</button>
        <button id="hit10" class="rollButton" title="10 pins knocked down">10</button>
      </span>
    </div><br>
    <div id="error"></div>
    <br><br>
    <div class="bowlingTable">
      <table>
        <thead>
          <tr>
            <th colspan="2">Frame 1</th>
            <th colspan="2">Frame 2</th>
            <th colspan="2">Frame 3</th>
            <th colspan="2">Frame 4</th>
            <th colspan="2">Frame 5</th>
            <th colspan="2">Frame 6</th>
            <th colspan="2">Frame 7</th>
            <th colspan="2">Frame 8</th>
            <th colspan="2">Frame 9</th>
            <th colspan="3">Frame 10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="box1"></td>
            <td id="box2"></td>
            <td id="box3"></td>
            <td id="box4"></td>
            <td id="box5"></td>
            <td id="box6"></td>
            <td id="box7"></td>
            <td id="box8"></td>
            <td id="box9"></td>
            <td id="box10"></td>
            <td id="box11"></td>
            <td id="box12"></td>
            <td id="box13"></td>
            <td id="box14"></td>
            <td id="box15"></td>
            <td id="box16"></td>
            <td id="box17"></td>
            <td id="box18"></td>
            <td id="box19"></td>
            <td id="box20"></td>
            <td id="box21"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td id="score1" colspan="2"></td>
            <td id="score2" colspan="2"></td>
            <td id="score3" colspan="2"></td>
            <td id="score4" colspan="2"></td>
            <td id="score5" colspan="2"></td>
            <td id="score6" colspan="2"></td>
            <td id="score7" colspan="2"></td>
            <td id="score8" colspan="2"></td>
            <td id="score9" colspan="2"></td>
            <td id="score10" colspan="3"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <br><br>
    <button id="newScoreSheet">New Scoresheet</button>
  </body>
</html>